language: rust
rust:
  - stable

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      addons:
         apt:
           sources:
             - ubuntu-toolchain-r-test
           packages:
            - g++-4.9
      env:
         - CC=gcc-4.9      
    - os: osx
      
fast_finish: true
